.wrapper
  .chatMain
    .chatMain__groupInfo
      .chatMain__groupInfo__leftBox
        .chatMain__groupInfo__leftBox--name
          = @group.name
        .chatMain__groupInfo__leftBox--member
          Member : 
          - @group.users.each do |user|
            = user.name
      = link_to "Edit", edit_group_path(@group), class: "chatMain__groupInfo--edit" 
    .chatMain__messageList
      = render @messages
    .chatMain__messageForm
      = form_for [@group, @message], html: {class: "chatMain__messageForm__imageFile"} do |f|
        .chatMain__messageForm__imageFile__form
          = f.text_field :content, class: "chatMain__messageForm__imageFile__form--message", placeholder: "type a message" 
          = f.label :image, class: "chatMain__messageForm__imageFile__form--image" do
            = icon("far", "image")
            = f.file_field :image, class: "chatMain__messageForm__imageFile__form--image--file"
        = f.submit "Send", class: "chatMain__messageForm__imageFile--submit"
